node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

logs/
*.log
*.log.*

.env

prisma/dev.db
prisma/dev.db-journal
prisma/*.log
prisma/migrations/

dist/
build/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

Thumbs.db
ehthumbs.db

coverage/

*.tmp
*.cache
